@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .deleted{
        background-color: rgb(255, 205, 205)!important;
    }

    .verificado{
        background-color: rgb(255, 229, 181)!important;
    }

    .si-verificado{
        background-color: rgb(255, 255, 255)!important;
    }
}


/*Usar la capa de compoenntes para clases más complicadas como card, btn, badge...

@layer components{
    .card{
        background-color: theme('colors.white);
    }
}*/
